*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   font-family:'Poppins',sans-serif;
}
:root{
    --bg:#0f172a;
    --card:#1e293b;
    --primary:#3b82f6;
    --secondary:#8b5cf6;
    --success:#22c55e;
    --text:#f8fafc;
}
body{
   background:linear-gradient(
135deg,
#0f172a,
#1e293b
);
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.feedback-box{
    width:600px;
    background:#02112f;
    padding:40px;
    border-radius:20px;
}

.feedback-box h1{
    color:white;
    margin-bottom:20px;
}

textarea{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    resize:none;
}

button{
    width:100%;
    margin-top:20px;
    padding:12px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    cursor:pointer;
}
/* =====================
   MOBILE RESPONSIVE
===================== */

@media screen and (max-width:768px){

    .container{
        width:95%;
        padding:15px;
    }

    h1{
        font-size:28px;
    }

    h2{
        font-size:22px;
    }

    p{
        font-size:15px;
    }

}