body{
    margin:0;
    padding:0;
   font-family:'Poppins',sans-serif;
 background:linear-gradient(
135deg,
#0f172a,
#1e293b
);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
:root{
    --bg:#0f172a;
    --card:#1e293b;
    --primary:#3b82f6;
    --secondary:#8b5cf6;
    --success:#22c55e;
    --text:#f8fafc;
}
.container{
    width:900px;
    height:550px;
    background:white;
    border-radius:25px;
    overflow:hidden;
    display:flex;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}

.left{
    width:50%;
    background:#001845;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:50px;
}

.left h1{
    font-size:50px;
    margin-bottom:20px;
}

.left p{
    font-size:20px;
    line-height:1.8;
}

.right{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.form-box{
    width:80%;
}

.form-box h2{
    text-align:center;
    color:#003566;
    margin-bottom:30px;
}

input{
    width:100%;
    padding:15px;
    margin-bottom:20px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:16px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}

.back-btn{
    display:block;
    text-align:center;
    margin-top:15px;
    text-decoration:none;
    color:#2563eb;
}

.error{
    color:red;
    text-align:center;
}
/* =====================
   MOBILE RESPONSIVE
===================== */

@media screen and (max-width:768px){

    .container{
        width:95%;
        padding:15px;
    }

    h1{
        font-size:28px;
    }

    h2{
        font-size:22px;
    }

    p{
        font-size:15px;
    }

}