*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   font-family:'Poppins',sans-serif;
}
:root{
    --bg:#0f172a;
    --card:#1e293b;
    --primary:#3b82f6;
    --secondary:#8b5cf6;
    --success:#22c55e;
    --text:#f8fafc;
}
body{
  background:linear-gradient(
135deg,
#0f172a,
#1e293b
);
    color:white;
}

.container{
    width:90%;
    margin:auto;
    padding:40px;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:#02112f;
    border-radius:15px;
    overflow:hidden;
}

th{
    background:#0f62fe;
    padding:15px;
}

td{
    padding:15px;
    text-align:center;
    border-bottom:1px solid #1e3a8a;
}

.excellent{
    color:#22c55e;
    font-weight:bold;
}

.good{
    color:#facc15;
    font-weight:bold;
}

.poor{
    color:#ef4444;
    font-weight:bold;
}

.btn{
    display:inline-block;
    margin-top:30px;
    text-decoration:none;
    background:#0f62fe;
    color:white;
    padding:12px 25px;
    border-radius:10px;
}
.chart-container{

    background:#02112f;

    padding:30px;

    border-radius:15px;

    margin-bottom:30px;
}
/* =====================
   MOBILE RESPONSIVE
===================== */

@media screen and (max-width:768px){
    html,
    body{
        overflow-x:hidden;
    }

    .container{
        width:100%;
        padding:20px 15px;
    }

    h1{
        font-size:28px;
    }

    table{
        display:block;
        overflow-x:auto;
        white-space:nowrap;
    }

    th,
    td{
        padding:12px 10px;
    }

    .chart-container{
        padding:20px 15px;
    }
}