<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Admin Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/admin.css') }}">

</head>

<body>

<div class="container">

    <h1>👨‍💼 Admin Dashboard</h1>

    <div class="cards">

        <div class="card">

            <h2>{{ users|length }}</h2>

            <p>Total Users</p>

        </div>

        <div class="card">

            <h2>{{ analyses|length }}</h2>

            <p>Total Analyses</p>

        </div>

        <div class="card">

            <h2>{{ feedbacks|length }}</h2>

            <p>Feedback Received</p>

        </div>

    </div>

    <h2>Users</h2>

    <div class="table-wrapper">
        <table>

            <tr>

                <th>Name</th>

                <th>Email</th>

                <th>Phone</th>

            </tr>

            {% for user in users %}

            <tr>

                <td>{{ user.name }}</td>

                <td>{{ user.email }}</td>

                <td>{{ user.phone }}</td>

            </tr>

            {% endfor %}

        </table>
    </div>

</div>

</body>
</html>