<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Feedback</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/feedback.css') }}">

</head>

<body>

<div class="container">

    <div class="feedback-box">

        <h1>Send Feedback</h1>

        <form method="POST">

            <textarea
                name="message"
                rows="8"
                placeholder="Share your feedback..."
                required>
            </textarea>

            <button type="submit">

                Submit Feedback

            </button>

        </form>

    </div>

</div>

</body>
</html>