<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Analyzer</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">

    <div class="logo">
        AI Resume Analyzer
    </div>

    <div class="nav-links">
        <a href="/login" class="nav-btn">Login</a>
        <a href="/register" class="register-btn">Register</a>
    </div>

</nav>

    <section class="hero">

        <div class="hero-content">

            <h1>
    Analyze Your Resume<br>
    Get Hired Faster
</h1>

            <p>
    Upload your resume, choose your dream job role,
    and get ATS score, skill gap analysis,
    and AI-powered recommendations.
</p>

            <a href="/register" class="get-started-btn">
                Get Started
            </a>

        </div>

    </section>
    <section class="features">

    <div class="feature-card">
        <h3>ATS Score</h3>
        <p>Check ATS compatibility.</p>
    </div>

    <div class="feature-card">
        <h3>Skill Matching</h3>
        <p>Compare resume with job role.</p>
    </div>

    <div class="feature-card">
        <h3>Missing Skills</h3>
        <p>Identify missing technologies.</p>
    </div>

    <div class="feature-card">
        <h3>AI Suggestions</h3>
        <p>Improve your resume instantly.</p>
    </div>

</section>

    <section class="features">

        <div class="feature-card">
            <h3>ATS Score</h3>
            <p>Check how ATS-friendly your resume is.</p>
        </div>

        <div class="feature-card">
            <h3>Skill Analysis</h3>
            <p>Compare your skills with job requirements.</p>
        </div>

        <div class="feature-card">
            <h3>AI Suggestions</h3>
            <p>Receive recommendations to improve your resume.</p>
        </div>

    </section>

</body>
</html>