<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
   <link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

<div class="container">

    <div class="left-panel">

    <img
        src="{{ url_for('static',
        filename='images/undraw_login_weas.svg') }}"
        class="hero-image"
        alt="Resume Illustration">

    <h1>AI Resume Analyzer</h1>

    <p>
        Improve your resume using ATS analysis,
        skill matching and AI career guidance.
    </p>

</div>

    <div class="right-panel">

        <div class="form-box">

            <h2>Login</h2>
            {% if error %}
<div class="error-message">
    {{ error }}
</div>
{% endif %}

            <form method="POST">

    <input type="email"
           name="email"
           placeholder="Email">

    <input type="password"
           name="password"
           placeholder="Password">

    <button type="submit">
        Login
    </button>
    <p style="margin-top:15px;">
    <a href="/forgot-password">
        Forgot Password?
    </a>
</p>
<p style="text-align:center;margin-top:20px;">
    Don't have an account?
    <a href="/register">Create Account</a>
</p>

</form>

        </div>

    </div>

</div>

</body>
</html>